apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "project2-api.fullname" . }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "project2-api.fullname" . }}
                port:
                  number: 80
